.top-container {
    background-color: #e4f9f5;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;

}
.middle-container {
     padding: 30px;
   background-color: white;
   
}

.bottom-container {
    background-color: white;
    padding: 30px;
}
.display-img{
    width: 10%;
}

.img1{

    float: left;
    width: 25%;
    margin-right: 30px;
}

.img2{

    float: right;
    width: 25%;
    margin-left: 30px;
}
h1 {
    width: 20%;
    margin: 0 auto 0 auto;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
    
}

.subhead{
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    color:  #66BFBF;
    font-weight: normal;
}
h2{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}


.skill-row{

    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
    line-height: 2;
}

p{
    padding: inherit;
    margin: 0 auto 0 auto;

}
body
{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;


}

.top-cloud{
    position: absolute;
    right: 30%;
    width: max-content;
}

.mountain{
    position: relative;
    max-width: 100%;
}


.bottom-cloud{
    position: absolute;
    left: 30%;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }